<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="https://kit.fontawesome.com/8823b2fe2d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    
    <div class="flex">
        <div id="toggleNav" class="w-60 h-screen p-3 pt-4 bg-purple-900 ease-a transition-all duration-300 relative justify-" >
            <i id="arrow" class="fa-solid fa-arrow-left text-2xl bg-white rounded-full border border-purple-900 py-1.5 px-2 text-purple-900 transform  absolute -right-3 cursor-pointer" onclick="toggleNavbar()"></i>
            <div class="flex mt-1 h-10">
                <!-- <i class="fa-solid fa-globe p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i> -->
                <h1 class="nav_content text-white text-4xl ml-2 font-bold">Tailwind</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-home p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Home</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-dashboard p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Dashboard</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-people-group p-1 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Teams</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-ranking-star p-1 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Ranking</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-recycle p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Request Collection</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-trophy p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Rewards</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-circle-dollar-to-slot p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Donate</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-newspaper p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Resources</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-envelope p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Contact</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-user p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Profile</h1>
            </div>

            <div class="flex mt-4 h-10">
                <i class="fa-solid fa-right-from-bracket p-2 text-white text-2xl bg-yellow-500 rounded-lg"></i>
                <h1 class="nav_content text-white text-xl ml-2">Logout</h1>
            </div>
        </div>



        <div class="main p-6">Main Page</div>
    </div>



    <script>
        function toggleNavbar() {
            var open = document.getElementById('toggleNav');
            var arrow = document.getElementById('arrow');
            var navContents = document.querySelectorAll('.nav_content'); // Select all text elements

            // Toggle navbar width
            open.classList.toggle("w-60");
            open.classList.toggle("w-20");

            // Toggle the visibility of the text content
            navContents.forEach(content => {
                content.classList.toggle("hidden");  // Add 'hidden' class to hide text
            });

            // Toggle the arrow icon direction
            if (arrow.classList.contains('fa-arrow-left')) {
                arrow.classList.remove('fa-arrow-left');
                arrow.classList.add('fa-arrow-right');
            } else {
                arrow.classList.remove('fa-arrow-right');
                arrow.classList.add('fa-arrow-left');
            }
        }
    </script>

</body>
</html>